---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/writing/" />
    <link rel="canonical" href="/writing/" />
    <title>Redirecting to writing</title>
  </head>
  <body>
    <a href="/writing/">Writing moved here.</a>
  </body>
</html>
