---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/entries/india-voting-modeling/" />
    <link rel="canonical" href="/entries/india-voting-modeling/" />
    <title>Redirecting to writing</title>
  </head>
  <body>
    <a href="/entries/india-voting-modeling/">Article moved here.</a>
  </body>
</html>
